<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <title>
    superuser
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link rel="stylesheet" href="/static/css/jquery.dataTables.min.css">
</head>

<body>
  <!-- navigation bar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">SILLY SHELLS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <!--         <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> -->
        </li>
      </ul>
    </div>
  </nav>
  <div style="width:80%;margin-left:10%;">
    <table id="users-list-table" class="display" cellspacing="0" width="100%"></table>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body">
          <div id="contact-me-form" class="form-group">
            <input type="text" class="form-control" placeholder="email" id="email"><br/>
            <input type="password" class="form-control" placeholder="password" id="password"><br/>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" id="login-btn">login</button>
        </div>
      </div>

    </div>
  </div>

  </div>


  <!-- bootstrap scripts -->
  <script type="text/javascript" src="/static/js/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="/static/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" src="/static/js/superuser.js"></script>
  <script>
    $(document).ready(function() {

    });
  </script>
</body>

</html>
